* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$modal-fundo1: #fefae070;
$modal-fundo2: #01031ccb;
$font-1: 'Zen Kaku Gothic Antique', sans-serif;
$weight-1: 700;
$weight-2: 500;
$color-1 : #01031ccb;
$color-2 : #01031cb6;
$color-3: #ffe8d6;
$color-3: #ddbea9;



body {
    font-family: $font-1;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(assets/imagem/a.jpg);
}
.modal {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1250px;
    height: 750px;
    background-color: $modal-fundo1;
    border-radius: 20px;

    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1;
        width: 100%;
        max-width: 400px;

        .aviso {
            color: #333;
            font-size: 20px;
            margin-top: 20px;
        }

        .busca {
            display: flex;
            width: 100%;

            #searchInput {
                flex: 1;
                padding: 10px;
                outline: none;
                font-size: 15px;
                border-radius: 5px;
                border: 0;
            }

            button {
                width: 20%;
                padding: 10px;
                font-size: 15px;
                border: 0;
                background-color: #555;
                color: #FFF;
                border-radius: 5px;
                margin-left: 10px;
                cursor: pointer;
            }
            button:hover {
                background-color: #444;
            }
        }
    }

    .resultado {
        display: none;
        align-items: center;
        flex-direction: column;
        padding-top: 50px;
        flex: 2;
        width: 100%;
        max-width: 1000px;

        .titulo {
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 30px;
            color: $color-1;
        }
        h2 {
            font-size: 20px;
            margin-bottom: 5px;
            font-weight: 500;
            color: $color-2;
            font-family: $font-1;
        }

        .info--1 {
            display: flex;
            width: 100%;
            justify-content: space-around;
            margin-bottom: 20px;

            .coor {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 25px;

                .lat {
                    font-weight: 700;
                    margin-bottom: 2px;
                    color: $color-1;
                }
                .long {
                    font-weight: 700;
                    color: $color-1;
                }
            }

            .temp {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                max-width: 650px;

                .tempInfo {
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    margin-bottom: 2px;
                    font-size: 18px;
                    font-weight: 500;
                    color: $color-2;

                    .tempMin, .tempAtual, .tempMax {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                    }

                    span {
                        font-weight: 700;
                        font-size: 25px;
                        color: $color-1;
                    }
                }

                .tempDesc {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 700;
                    font-size: 25px;
                    color: $color-1;
                }
            }
        }
        .info--2 {
            display: flex;
            width: 100%;
            max-width: 700px;
            justify-content: space-around;

            .vento {
                display: flex;
                flex-direction: column;
                align-items: center;

                .ventoInfo {
                    font-weight: 700;
                    font-size: 25px;
                    color: $color-1;

                    span {
                        font-size: 20px;
                        font-weight: 500;
                    }
                }

                .ventoArea {
                    width: 50px;
                    height: 50px;
                    border: 1px solid $color-1;
                    border-radius: 50%;
                    margin: auto;
                    margin-top: 20px;
                    padding-left: 25px;
                    padding-top: 25px;

                    .ventoPonto {
                        width: 15px;
                        height: 1px;
                        background-color: $color-1;
                        transform-origin: left;
                    }
                }
            }

            .sol {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .solInfo {
                    justify-content: space-around;
                    width: 200px;
                    display: flex;
                    color: $color-1;

                    .nasSol {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        span {
                            font-weight: 700;
                            font-size: 25px;
                        }

                        img {
                            width: 45px;
                        }
                    }
                    
                    .pSol {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        span {
                            font-weight: 700;
                            font-size: 25px;
                        }

                        img {
                            width: 45px;
                        }
                    }
                }
            }
        }
    }
}
footer {
    font-weight: 700;
    color: #01031c;
    font-size: 20px;
    margin-top: 20px;

    a {
        color: #01031c;;
        text-decoration: none;
    }
    a:hover {
        color: $color-3;
        text-decoration: underline;
    }
}

@media (max-width: 1250px){
    .modal {
        width: 100%;
        max-width: 1250px;
        height: 100%;
        border-radius: 0px;
        padding: 20px;
        .form {
            max-width: 320px;
        }
    }
}

@media (max-width: 800px) {
    .modal {
        .resultado {
            .titulo {
                font-size: 30px;
            }
            .info--1 {
                flex-direction: column;

                .coor {
                    margin-bottom: 40px;
                }

                .temp {
                    max-width: none;

                    .tempInfo {
                        flex-direction: column;
                    }
                }
            }
            .info--2 {
                flex-direction: column;

                .sol {
                    margin-bottom: 30px;
                }
            }
        }
    }
}